<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPyvKa-ZoP9SgdCo80RRizV8AuglHa294</string>
	<key>GCM_SENDER_ID</key>
	<string>6684084571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SimonApps.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-8b7fc</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-8b7fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6684084571:ios:f7c26b0766d972454fb27e</string>
</dict>
</plist>